.sec-2 {
	background: $blue;
	color: $white;
	padding-top: 10vh;
	padding-bottom: calc(10vh + 96px);
	position: relative;
	overflow: hidden;

	&__title {
		margin: 0 auto 32px;
		font-size: 42px;
		text-align: right;
	}

	&__desc {
		font-size: $font-smaller;
		color: $white;
		text-align: right;
	}

	@media all and (max-width: 576px) {
		padding-bottom: calc(10vh + 32px);

		&__desc {
			width: 240px;
			margin: auto;
			text-align: center;
		}
	}
}
.journey {
	&-carousel {
		position: relative;
		margin-bottom: 24px;

		&:before, &:after {
			content: '';
			width: 5vw;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 2;
		}

		&:before {
			left: 0;
			background:linear-gradient(to right, $blue, transparent);
		}

		&:after {
			right: 0;
			background: linear-gradient(to left, $blue, transparent);
		}

		.owl {
			&-item {
				opacity: 0;
				transition: opacity .6s ease;

				&.active {
					opacity: 1;
					transition-delay: .9s;
				}
			}
			&-nav {
				position: absolute;
				top: -32px;
				left: 24px;
				width: 60px;

				.disabled {
					opacity: .1;
					cursor: default;
				}
			}
			&-prev, &-next {
				border: 8px solid transparent;
				transition: opacity .3s ease;
			}
			&-prev {
				float: left;
				border-right-color: $white;
			}
			&-next {
				float: right;
				border-left-color: $white;
			}
			&-dots {
				position: absolute;
				top: -27px;
				right: 0;
				pointer-events: none;
			}
			&-dot {
				display: inline-block;

				& + .owl-dot {
					margin-left: 6px;
				}
				span {
					width: 6px;
					height: 6px;
					display: block;
					border-radius: 50%;
					background: $white;
					transform: scale(.33);
					transition: transform .3s ease;
				}
				&.active {
					span {
						transform: scale(1);
					}
				}
			}
		}

		@media all and (max-width: 576px) {
			margin-bottom: 72px;

			.owl {
				&-nav {
					top: calc(100% + 12px);
					left: 0;
					width: 100%;

					.disabled {
						opacity: .1;
						cursor: default;
					}
				}
				&-prev, &-next {
					border-width: 12px;
				}
				&-prev {
					margin-left: 24px;
				}
				&-next {
					margin-right: 24px;
				}
			}
		}
	}

	&-year {
		font-size: $font-big;
		margin: 0 0 24px;
	}

	&-list {
		@include reset-ul;
		li + li {
			margin-top: 24px;
		}
	}

	&-item {
		padding: 16px 32px;
		opacity: .7;
		transition: opacity .2s ease;

		&:hover {
			opacity: 1;
		}

		h5, p {
			margin: 0;
		}
		h5 {
			font-size: $font-small;
			font-weight: bold;
			margin-bottom: 8px;
		}
		p {
			font-size: $font-smaller;
		}
	}
}
