.sec-6 {
	position: relative;
	z-index: 2;
	background: $white;
	padding-top: 10vh;

	&:before, &__background {
		width: 100%;
		height: 100%;
		background: $white;
		position: absolute;
		z-index: 1;
		transform: skewY(5deg);
	}

	&:before {
		content: '';
		top: 0;
		transform-origin: right top;
		box-shadow: 0 -10px 10px 1px rgba(0, 0, 0, 0.1);
	}

	&__background {
		bottom: 0;
		transform-origin: left bottom;
		box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.1);

		.cmyk-blocks {
			right: 60px;
			transform: skewY(-5deg) rotate(5deg);
		}
	}

	&__upper, &__lower {
		position: relative;
		z-index: 2;
	}

	&__lower {
		padding-top: 32px;
		padding-bottom: 32px;
		text-align: right;

		h4 {
			margin-bottom: 32px;
		}
	}

	@media all and (min-width: 568px) {
		.map-info {
			padding: 32px 48px 32px 32px;
			background: $white;
			box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);

			&__container {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

.map {
	z-index: 1;
	background: $gray;
	width: 100%;
	height: 500px;

	&__container {
		position: relative;
		@media all and (max-width: 576px) {
			background: $gray-light;
		}
	}

	&-info {
		padding: 32px 16px;
		margin: auto 0;
		z-index: 2;
		pointer-events: all;

		&__container {
			height: 100%;
			display: flex;
			pointer-events: none;
		}

		&__list {
			font-family: $sans-serif;
			font-size: $font-small;
			letter-spacing: 1px;

			li {
				line-height: 1.4;
				padding-left: 48px;
				position: relative;

				& + li {
					margin-top: 24px;
				}
			}

			h5 {
				margin: 0 auto 16px;
			}

			a:not(.btn) {
				color: $gray-dark;
				&:hover, &:focus, &:active {
					color: $red;
				}
			}

			.btn {
				margin-top: 12px;
			}
		}

		&__icon {
			position: absolute;
			left: 0;
			top: 3px;
			max-width: 16px;
			max-height: 16px;
			fill: $gray-dark;

			&-big {
				top: 0;
				max-width: 32px;
				max-height: 32px;
			}
		}
	}
}
