$red: #ed1b24;
$blue: #18315e;
$white: #ffffff;
$black: #0b0d0f;
$gray: #78808e;
$gray-dark: #2c323b;
$gray-light: #f8f9fa;
$cyan: #00a0f1;
$magenta: #e849ad;
$yellow: #f6ec01;

$cmyk: $cyan $magenta $yellow $black;

$serif: 'Merriweather', serif;
$sans-serif: 'Open Sans', sans-serif;

$font-smallest: .65em;
$font-smaller: .75em;
$font-small: .85em;
$font-regular: 1em;
$font-big: 1.15em;
$font-bigger: 1.3em;
$font-biggest: 1.45em;
